<!DOCTYPE html>
<html>
  <head>
    <title>InrternProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('icons8-twitter-24.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
